# 10과 [예제] 함수

* 우리가 이미 함수를 사용하였습니다.
    * print()
    * len()

* 아래와 같은 형태의 함수를 메서드(method)라고 부릅니다.
    * .append()
    * .insert()
    * 특히 메서드는 자료형(변수, 리스트, 딕셔너리…등)에 따라 달라집니다.

* 이런 함수를 우리가 직접 만들 수 있습니다.  
복잡하고 다양한 코드를 함수로 만들어 놓으면 코드가 단순하게 되고, 
사용하기도 편리합니다.

함수는 기본적으로 세가지로 구성됩니다.  

① Input  
- 입력 매개변수
- 생략가능  

② 처리
- 코드들  

③ Output
- 실행 결과
- 생략가능

## 1) 함수 만들기 : 입력

### 일단 무작정 함수를 만들어 봅시다.

In [1]:
# 함수 만들기 : 입력 없이.
def hello_world() :
    print('Hello, Python World~!')
# hello_world() < input없이 함수 실행
 # 함수 사용하기
hello_world()

Hello, Python World~!

In [6]:
a = [1,2,3,4] + [2]
print(a) 
#list는 중복값 저장가능
b = (1,2,3,4)
print(b)

[1, 2, 3, 4, 2]
(1, 2, 3, 4)

In [7]:
dict_a = {'a' :32 , 'l1':[1,2,3], 'd1':{'a':1,'b':5}}
for k,v in dict_a.items() :
    print('key :', k)
    print('values :', v)

key : a
values : 32
key : l1
values : [1, 2, 3]
key : d1
values : {'a': 1, 'b': 5}

### 입력매개변수를 추가해 봅시다.

In [89]:
def hello_world(name) :
    print('Hello '+ name + ', welcome to Python World~!')
    print('Hello {}, welcome to Python World~!'.format(name)) # 위 문장과 똑같습니다.
    print(f'Hello {name}, welcome to Python World~!')
# 3가지 양식 숙지하기!!!
hello_world('Han')

Hello Han, welcome to Python World~!
Hello Han, welcome to Python World~!
Hello Han, welcome to Python World~!

In [90]:
hello_world(123)
# print('Hello '+ name + ', welcome to Python World~!') < 이 문장에서 자료형 에러가 남

TypeError: can only concatenate str (not "int") to str

### 입력매개변수와 디폴트값

In [91]:
def hello(name, loud = 1) :
    if loud == 1 :
        print('HELLO ' + name + ' ~!!!')
    else :
        print('Hello ' + name + ' ~~~')

* 매개변수 이름 = 값 으로 지정해서 사용합니다.
* 매개변수 이름으로 지정하면 순서를 바꿀 수 있습니다.
* 매개변수 순서에 맞게 값을 넣으면 매개변수이름을 생략할 수 있습니다.

In [84]:
hello(name = 'Han', loud =1) # 매개변수 이름 = 값 으로 지정
hello(loud = 0, name = 'Han') # 매개변수 이름으로 지정하면 순서를 바꿀수 있습니다.
hello('Han', 0)  # 매개변수 순서에 맞게 값을 넣으면 매개변수이름을 생략할수 있습니다.
hello('Han') # 함수 생성시 loud = 1 로 선언했으므로, 안쓰면 기본값 1이 입력 됩니다.

HELLO Han ~!!!
Hello Han ~~~
Hello Han ~~~
HELLO Han ~!!!

### 입력매개변수 앞에 * 붙이면...

In [13]:
# 입력 값의 수를 정하지 않고, 사용할 때 들어오는 대로 받겠다.

def numbers1(*nums) :
    print(nums)

numbers1(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

### 실습

In [19]:
# 숫자들을 여러 개 받아(*입력변수) 각각 숫자를 제곱한 후 모두 합한 값을 반환하는 함
# 아래 비어 있는 부분을 완성해 봅시다.

def summ(*nums) :
    total = 0
    for i in nums :
        total += i**2
        
    return(total)
summ(1,4,3,5)

51

## 2) 함수만들기 : 출력

### print

결과를 화면에 출력해~    

(1) print는 출력 값을 보여주는 기능이며, 출력 값 생성을 위해 함수를 호출하게 된다.   
(2) return은 정의된 함수에 대한 호출이 있을 때 값을 반환시켜주는 기능이다.

In [21]:
def numbers1(*nums) :
    print(nums)

numbers1(1,2,3)
a1 = numbers1(1,2,3)
print(a1) // none

(1, 2, 3)
(1, 2, 3)
None

### return

* 결과 값을 output으로 내보내고 함수 종료시키기.
* 결과 값을 받아서 사용하기 위해서는 반드시 return 을 써야 합니다.

In [22]:
def numbers2(*nums) :
    return nums

print(numbers2(1,2,3)) //1번째 결과
a2 = numbers2(1,2,3)
print(a2) //2번째 결과

(1, 2, 3)
(1, 2, 3)

### 여러개의 결과를 return

In [23]:
def calculate(a, b) :
    summ = a + b
    mult = a * b
    return summ, mult

r1, r2 = calculate(10, 5)
print(r1)
print(r2)

15
50

### 실습

In [24]:
# 두 숫자를 입력받아 몫과 나머지를 반환하는 함수를 작성해 봅시다.

def divide2(a, b) :
    r1 = a // b
    r2 = a % b
    return r1, r2


r1, r2 = divide2(17, 5)
print(r1)
print(r2)

3
2

## 3) 함수만들기 : 예외처리

### 발생할 수 있는 오류에 대한 사전 처리

In [25]:
# 아래코드는 어떤 오류가 발생할까요?

def divide(a, b) : 
    result = a / b
    return result

divide(10, 0)

ZeroDivisionError: division by zero

### 입력값에 대한 확인

In [ ]:
# b는 0이 되면 안됩니다. 어떻게 수정하면 좋을까요?
# 아래 코드를 완성해 봅시다.

def divide(a, b) : 
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')
    else :
        result = a / b
        return result

divide(10, 0)

### 입력 데이터 타입을 확인하기

In [27]:
# 데이터 타입 확인하기 ==, is
a = 123
print(type(a) == int)

b = 'abc'
print(type(b) is str)

c = [1,2,3]
print(type(c) is list)

d = {'v':23}
print(type(d) == dict)

e = (1,2,3)
print(type(e) == tuple)

True
True
True
True
True

In [74]:
# a, b가 모두 int인지 확인하는 코드를 추가하세요.

def divide(a, b) :
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')
    elif  (type(a) == int) and (type(b) == int ): 
        result = a / b
        return result
    else :
        print('입력값은 모두 숫자여야 합니다.')
divide(10, 5)

2.0

----

## 실습 답

### 실습 : 함수 만들기 - 입력

In [ ]:
# 숫자들을 여러 개 받아(*입력변수) 각각 숫자를 제곱한 후 모두 합한 값을 반환하는 함
# 아래 비어 있는 부분을 완성해 봅시다.

def summ(*nums) :
    total = 0
    for n in nums :
        total += n**2
    
    return(total)

summ(1,4,3,5)

### 실습 : 함수 만들기 - 출력

In [65]:
# 두 숫자를 입력받아 몫과 나머지를 반환하는 함수를 작성해 봅시다.

def divide2(a, b) :
    result = [a // b, a % b] 
    return result

r1, r2 = divide2(17, 5)
print(r1)
print(r2)

3
2

### 실습 : 함수 만들기 - 예외처리

In [66]:
##### a, b가 모두 int인지 확인하는 코드를 추가하세요.

def divide(a, b) :
    if b == 0 :
        print('나누는 값이 0이 될 수 없습니다.')
    elif (type(a) is int) and (type(b) is int) : 
        result = a / b
        return result
    else :
        print('두 입력값은 모두 숫자여야 합니다.')

divide(10, 5)

2.0